.ipynb_checkpoints
*/.ipynb_checkpoints/*
prerelease/.ipynb_checkpoints/prerelease-checkpoint.ipynb
prerelease/.ipynb_checkpoints/prerelease-checkpoint.ipynb
nlvertalingen/nllongnames-orig.xml
nlvertalingen/nllongnames-patch.xml
nlvertalingen/nllongnames.xml
nlvertalingen/nllongnames.xml
*.xlsx
nlvertalingen/nllongnames.xml
scratchpad.ipynb
